In [1]:
import pandas as pd
import numpy as np

In [2]:
country = ['America', 'Brazli', 'Canada', 'China', 'France', 
           'India'  , 'Italy' , 'Japan' , 'Spain', 'Peru']
print(country)

['America', 'Brazli', 'Canada', 'China', 'France', 'India', 'Italy', 'Japan', 'Spain', 'Peru']

In [3]:
pop = np.random.randint(1000,10000000,10) 
print(pop)

[2118963 5812430 6124138 3683706  548501 7724200 4055528 2461231 3159346
 5726375]

In [4]:
list_label = ['國家', '人口']
list_cols = [country, pop]

poplist = list(zip(list_label, list_cols))

In [5]:
data = pd.DataFrame(dict(poplist))
print(data)

        國家       人口
0  America  2118963
1   Brazli  5812430
2   Canada  6124138
3    China  3683706
4   France   548501
5    India  7724200
6    Italy  4055528
7    Japan  2461231
8    Spain  3159346
9     Peru  5726375

In [16]:
####作業2

In [6]:
#載入連結
target_url = 'https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt'

In [7]:
import requests
response = requests.get(target_url)
data = response.text

#用 request 傳送回來的資料不會有斷行資料
print(len(data))
data[0:100]

784594

'n00015388_157\thttp://farm1.static.flickr.com/145/430300483_21e993670c.jpg\nn00015388_238\thttp://farm2'

In [8]:
#找換行符號
split_tag = '\n'

data = data.split(split_tag)

print(len(data))
data[0]

9996

'n00015388_157\thttp://farm1.static.flickr.com/145/430300483_21e993670c.jpg'

In [9]:
data_list = data.split('\t')
data_list.head()

AttributeError: 'list' object has no attribute 'split'

In [63]:
df = pd.DataFrame(data)
df.head()

                                                   0
0  n00015388_157\thttp://farm1.static.flickr.com/...
1  n00015388_238\thttp://farm2.static.flickr.com/...
2  n00015388_304\thttp://farm1.static.flickr.com/...
3  n00015388_327\thttp://farm4.static.flickr.com/...
4  n00015388_355\thttp://img100.imageshack.us/img...

2

                                                   0
0                                      n00015388_157
1  http://farm1.static.flickr.com/145/430300483_2...